<mat-card>
    <mat-tab-group>
        <!-- Tab 1 -->
        <mat-tab label="Donaciones">
            <mat-card-content>
                <div class="d-flex no-blcok" *ngFor='let donaciones of donacionData'>
                    <div class="m-r-20">
                        <img class="img-circle" width="50" [src]=donaciones.image alt="Image"> </div>
                    <div class="p-b-20 b-b m-b-30">
                        <h4 class="m-0">{{donaciones.nombreDonador}}
                            <small class="text-muted">({{donaciones.comentario}})</small>
                        </h4>
                        <p class="text-muted">{{donaciones.montoRecaudar}}</p>

                        <div fxLayout="row wrap" *ngIf="donaciones.imagenProyecto !==''">
                            <div fxFlex.gt-sm="20" fxFlex="100">
                                <img class="img-responsive rounded" [src]=donaciones.imagenProyecto  alt="Image">
                            </div>
                        </div>

                        <button  *ngIf="donaciones.imagenProyecto ===''" mat-raised-button color="{{donaciones.buttonColor}}">Check Now</button>

                    </div>
                </div>
            </mat-card-content>
        </mat-tab>
        <!-- End Tab 1 -->
      <
    </mat-tab-group>
</mat-card>
