<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>WALIKI</mat-card-title>

      </mat-card-content>
      <mat-tab-group>
        <mat-tab label="PROYECTOS"><mat-card-content>
          <app-menu></app-menu>

        </mat-card-content></mat-tab>
        <mat-tab label="QUIENES SOMOS"><mat-card-content>
          <app-sticker></app-sticker>

        </mat-card-content></mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <app-activity></app-activity>
    </div>
</div>
